<!DOCTYPE HTML>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  xmlns="http://www.w3.org/1999/xhtml"
  layout:decorator="adminLayout">
<head>
</head>
<body>
<div layout:fragment="main">
  <div class="card">
    <div class="card-header">
      検索
    </div>
    <div class="card-body">
      <form th:action="@{/admin/forum/search}">
        <div class="form-group">
          <!-- DEV search title -->
          <label>タイトル</label>
          <!--/*@thymesVar id="stitle" type="java.lang.String"*/-->
          <input class="form-control" type="text" name="title" th:value="${stitle}"/>
        </div>
        <div class="form-group">
          <!-- DEV search contents(like) -->
          <label>本文</label>
          <!--/*@thymesVar id="scontent" type="java.lang.String"*/-->
          <input class="form-control" type="text" name="contents" th:value="${scontent}"/>
        </div>
        <div class="form-group">
          <!-- DEV search shop -->
          <label>投稿者</label>
          <!--/*@thymesVar id="sname" type="java.lang.String"*/-->
          <input class="form-control" type="text" name="name" th:value="${sname}"/>
        </div>
        <div class="form-group">
          <label>返信コメント</label>
          <!-- DEV search exists(forum_comments where contents like '%word%') -->
          <!--/*@thymesVar id="sreply" type="java.lang.String"*/-->
          <input class="form-control" type="text" name="reply" th:value="${sreply}"/>
        </div>
        <div class="form-group">
          <!-- DEV do search -->
          <button type="submit" class="btn btn-primary">検索</button>
        </div>
      </form>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header">一覧</div>
    <div class="card-body">
      <table class="table table-bordered">
        <tr>
          <th>ID</th>
          <th><!--
          DEV account#user#name + '(' + account#name + ')'
          link to /admin/account/{account#id}
          -->アカウント</th>
          <th><!-- DEV name -->名前</th>
          <th><!-- DEV title -->タイトル</th>
          <th><!-- DEV comment_count -->コメント数</th>
          <th><!-- DEV contents -->本文</th>
          <th><!-- DEV created_at-->作成日</th>
          <th><!-- DEV updated_at-->更新日</th>
          <th>&nbsp;</th>
        </tr>
        <!--/*@thymesVar id="list" type="List<ora.leadlife.co.jp.model.Forum>"*/-->
        <!--/*@thymesVar id="forum" type="ora.leadlife.co.jp.model.Forum"*/-->
        <tr th:each="forum : ${list}">
          <td th:text="${forum.id}"></td>
          <td th:text="${forum.account.name}"><a th:href="@{'/admin/account/'+${forum.account.id}}"></a></td>
          <td th:text="${forum.name}"></td>
          <td th:text="${forum.title}"></td>
          <td th:text="${forum.commentCount}"></td>
          <td>
            <a class="btn btn-primary" data-toggle="collapse" th:href="'#contents_'+${forum.id}" role="button" aria-expanded="false"
               aria-controls="collapseExample">
              本文を開く
            </a>
            <div class="collapse" th:id="'contents_'+${forum.id}">
              <div class="card card-body">
                <a th:href="@{'/admin/forum/comment/'+${forum.id}}">
                  <p  th:text="${forum.contents}"></p>
                </a>
              </div>
            </div>
          </td>
          <td th:text="${#dates.format(forum.createdAt, 'yyyy/MM/dd')}"></td>
          <td th:text="${#dates.format(forum.updatedAt, 'yyyy/MM/dd')}"></td>
          <td>
            <!-- DEV delete the forum -->
            <a href="javascript:;"
               th:attr="onclick='confirmDialog(\'削除してもよろしいでしょうか？\',\'/admin/forum/delete/'+${forum.id} + '\')'">削除</a>
          </td>
        </tr>
      </table>
      <!-- DEV paging -->
      <!--/*@thymesVar id="page" type="ora.leadlife.co.jp.util.PageWrapper"*/-->
      <div class="mt-3">
        <nav aria-label="Page navigation example mt-3">
          <ul class="pagination">
            <li class="page-item" th:if="${not page.hasPreviousPage}">
              <a class="page-link" href="javascript:;" style="color: currentColor; cursor: not-allowed; opacity: 0.7; text-decoration: none;">&laquo;</a>
            </li>
            <li class="page-item" th:if="${page.hasPreviousPage}">
              <a class="page-link" th:href="@{${page.url}(page=${page.number - 2},size=${page.size})}">&laquo;</a>
            </li>
            <li th:each="item : ${page.items}" th:class="${item.current}? 'page-item active' : ''">
              <a id="active" th:if="${item.current}"
                 th:href="@{${page.url}(page=${item.number - 1},size=${page.size})}" class="page-link">
                <span th:text="${item.number}">1</span>
              </a>
              <a th:if="${not item.current}"
                 th:href="@{${page.url}(page=${item.number - 1},size=${page.size})}" class="page-link">
                <span th:text="${item.number}">1</span>
              </a>
            </li>
            <li class="page-item" th:if="${not page.hasNextPage}">
              <a class="page-link" href="javascript:;" style="color: currentColor; cursor: not-allowed; opacity: 0.7; text-decoration: none;">&laquo;</a>
            </li>
            <li class="page-item" th:if="${page.hasNextPage}">
              <a class="page-link" href="#"
                 th:href="@{${page.url}(page=${page.number},size=${page.size})}">&raquo;</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
</body>
</html>
<script>
    /*<![CDATA[*/
    function confirmDialog(title, url) {
        $("#confirmDialog").dialog({
            modal: true,
            title: title,
            buttons: {
                "OK": function () {
                    $.ajax({
                        type : "DELETE",
                        url : url,
                        success: function (result) {
                            $("#confirmDialog").dialog("close");
                            window.location.href = result;
                        },
                        error: function (e) {
                            console.log(e);
                            location.reload();
                        }
                    });
                },
                "キャンセル": function () {
                    $(this).dialog("close");
                }
            },
        });
    }
    /*]]>*/
</script>