target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


### docker ###
docker/

#Icon

"Icon\r\r"
Icon?
"Icon?"
/.gtm/

src/main/resources/static/upload/
static/upload/

log/
