<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <title>資産について 5.株式 エンディングノート</title>
        <meta name="keywords" content="content1"/>
        <meta name="description" content="content1"/>
    </head>
    <body class="drawer drawer--left">
    <div layout:fragment="headerImage">
        <img alt="" src="./assets/images/header/header_endingnote.png" width="712"
             th:src="@{/images/header/header_endingnote.png}"/>
    </div>
        <div  layout:fragment="main">
            <div id="container">
                <div id="property_about_stock">
                    <div class="page_label">
                          <h2>
                            資産について
                          </h2>
                    </div>
                    <div class="about_stock">
                        <!--/*@thymesVar id="aboutMeViewFlag" type="java.lang.String"*/-->
                        <!--/*@thymesVar id="form" type="ora.leadlife.co.jp.form.StockForm"*/-->
                        <form th:action="@{/stock/confirm}" method="post" th:object="${form}">
                            <h2>
                                5.株式
                            </h2>
                            <div class="input__container">
                                <div id="formList" th:switch="${#lists.isEmpty(form.stockWrapper)}">
                                    <div th:case="true">
                                        <div class="input__box">
                                            <div class="title">
                                                証券会社
                                            </div>
                                          <input class="nameCompany" type="text" th:field="*{stockWrapper[0].company}"/>
                                        </div>
                                        <div class="input__box">
                                            <div class="title">
                                                銘柄
                                            </div>
                                          <input class="nameBrand" type="text" th:field="*{stockWrapper[0].brand}"/>
                                        </div>
                                        <div class="input__box">
                                            <div class="title">
                                                証券番号等
                                            </div>
                                          <input class="nameNumber" type="text" th:field="*{stockWrapper[0].number}"/>
                                        </div>
                                        <div class="input__box input_amount">
                                            <div class="title">
                                                数量
                                            </div>
                                          <input class="nameAmount amount" type="text" th:field="*{stockWrapper[0].quantity}"/><span class="amount_stock">株</span>
                                        </div>
                                        <div class="input__box radioDiv">
                                            <div class="title">
                                                管理、保護預かりの有無
                                            </div>

                                            <input class="nameCustom" type="radio" th:field="*{stockWrapper[0].isCustomManagement}" th:value="1" /><span class="thereOrNone">有り</span><input class="nameCustom" type="radio" th:field="*{stockWrapper[0].isCustomManagement}" th:value="0" /><span class="thereOrNone">無し</span>
                                        </div>
                                        <div class="input__box">
                                            <div class="title">
                                                備考
                                            </div>
                                          <textarea class="nameRemarks" th:field="*{stockWrapper[0].remarks}"></textarea>
                                        </div>
                                        <div class="button_box del_box">

                                        </div>
                                        <br /><br /><br />
                                        <hr />
                                    </div>
                                    <div th:case="false">
                                        <div th:each="stock,is:${form.stockWrapper}">
                                            <div class="input__box">
                                                <div class="title">
                                                    証券会社
                                                </div>
                                                <input class="nameCompany" type="text" th:attr="name='stockWrapper['+${is.index}+'].company'" th:value="${stock.company}"/>
                                            </div>
                                            <div class="input__box">
                                                <div class="title">
                                                    銘柄
                                                </div>
                                                <input class="nameBrand" type="text" th:attr="name='stockWrapper['+${is.index}+'].brand'" th:value="${stock.brand}"/>
                                            </div>
                                            <div class="input__box">
                                                <div class="title">
                                                    証券番号等
                                                </div>
                                                <input class="nameNumber" type="text" th:attr="name='stockWrapper['+${is.index}+'].number'" th:value="${stock.number}"/>
                                            </div>
                                            <div class="input__box input_amount">
                                                <div class="title">
                                                    数量
                                                </div>
                                                <input class="nameAmount amount" type="text" th:attr="name='stockWrapper['+${is.index}+'].quantity'" th:value="${stock.quantity}"/><span class="amount_stock">株</span>
                                            </div>
                                            <div class="input__box radioDiv">
                                                <div class="title">
                                                    管理、保護預かりの有無
                                                </div>
                                                <div th:switch="${stock.isCustomManagement}">
                                                    <div th:case="true">
                                                        <input class="nameCustom" type="radio" th:attr="name='stockWrapper['+${is.index}+'].isCustomManagement'" th:value="true" th:checked="'checked'"/><span class="thereOrNone">有り</span>
                                                        <input class="nameCustom" type="radio" th:attr="name='stockWrapper['+${is.index}+'].isCustomManagement'" th:value="false"/><span class="thereOrNone">無し</span>
                                                    </div>
                                                    <div th:case="false">
                                                        <input class="nameCustom" type="radio" th:attr="name='stockWrapper['+${is.index}+'].isCustomManagement'" th:value="true"/><span class="thereOrNone">有り</span>
                                                        <input class="nameCustom" type="radio" th:attr="name='stockWrapper['+${is.index}+'].isCustomManagement'" th:value="false" th:checked="'checked'"/><span class="thereOrNone">無し</span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="input__box">
                                                <div class="title">
                                                    備考
                                                </div>
                                                <textarea class="nameRemarks" th:attr="name='stockWrapper['+${is.index}+'].remarks'" th:inline="text">[[${stock.remarks}]]</textarea>
                                            </div>
                                            <div class="button_box del_box" th:if="${aboutMeViewFlag==0}">
                                                <a th:if="${#lists.size(form.stockWrapper) > 1}" href="javascript:;" class="delete_list right"><img height="131" th:src="@{/images/button/btn_del_column.jpg}" width="857" /></a>
                                            </div>
                                            <br /><br /><br />
                                            <hr />
                                        </div>
                                    </div>
                                </div>
                                <a th:if="${aboutMeViewFlag==0}" href="javascript:;" class="add_list">リストを追加</a>
                            </div>
                            <div class="button_box">
                                <button th:if="${aboutMeViewFlag==0}" type="submit"><img height="147" width="1040" src="./assets/images/button/button_save.jpg" th:src="@{/images/button/button_save.jpg}" /></button>
                            </div>
                            <div id="bnr_paying_merit">
                                <a th:href="@{'/others/merit'}"><img height="180" src="./assets/images/common/banner.png"
                                                                     th:src="@{/images/common/banner.png}" width="1040" /></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
<script>
    $(document).on("click",".add_list",function () {
        var childIndex = $('.nameCompany').length;
        var newChild = '<div><div class="input__box">'
            +'<div class="title">'
            +'    証券会社'
            +'      </div>'
            +'      <input class="nameCompany" type="text" name="stockWrapper['+childIndex+'].company"/>'
            +'  </div>'
            +'  <div class="input__box">'
            +'      <div class="title">'
            +'      銘柄'
            +'      </div>'
            +'  <input class="nameBrand" type="text" name="stockWrapper['+childIndex+'].brand"/>'
            +'  </div>'
            +'  <div class="input__box">'
            +'      <div class="title">'
            +'          証券番号等'
            +'      </div>'
            +'      <input class="nameNumber" type="text" name="stockWrapper['+childIndex+'].number"/>'
            +'  </div>'
            +'  <div class="input__box input_amount">'
            +'      <div class="title">'
            +'      数量'
            +'      </div>'
            +'      <input class="nameAmount amount" type="text" name="stockWrapper['+childIndex+'].quantity"/><span class="amount_stock">株</span>'
            +'  </div>'
            +'  <div class="input__box radioDiv">'
            +'      <div class="title">'
            +'          管理、保護預かりの有無'
            +'      </div>'
            +'      <input class="nameCustom" type="radio"  name="stockWrapper['+childIndex+'].isCustomManagement" value="true" checked="checked"/><span class="thereOrNone">有り</span>'
            +'      <input class="nameCustom" type="radio"  name="stockWrapper['+childIndex+'].isCustomManagement" value="false" /><span class="thereOrNone">無し</span>'
            +'  </div>'
            +'  <div class="input__box">'
            +'      <div class="title">'
            +'          備考'
            +'      </div>'
            +'      <textarea class="nameRemarks" name="stockWrapper['+childIndex+'].remarks"></textarea>'
            +'  </div>\n' +
            '                                    <div class="button_box del_box"><a href="javascript:;" class="delete_list right"><img height="131" src="/images/button/btn_del_column.jpg" width="857" /></a></div>\n' +
            '                                            <br /><br /><br />\n' +
            '                                            <hr /></div>';
        if($(".del_box").length == 1) {
            $(".del_box:first").append('<a href="javascript:;" class="delete_list right"><img height="131" src="/images/button/btn_del_column.jpg" width="857" /></a>');
        }
        $("#formList").append(newChild);
    });
    $(document).on("click", ".delete_list" ,function () {
        $(this).parent('div').parent('div').remove();
        if($(".del_box").length == 1) {
            $(".del_box:first").empty();
        }
        function updateName(className , fieldName) {
            $(className).each(function(index) {
                $(this).attr("name","stockWrapper["+index+"]."+fieldName);
                console.log("changed" + index);
            });
        }

        $(".radioDiv").each(function(index) {
            console.log("enter here : " + index);
            $(this).find("input").attr("name","stockWrapper["+index+"].isCustomManagement");
        });

        updateName('.nameCompany','company');
        updateName('.nameBrand','brand');
        updateName('.nameNumber','number');
        updateName('.nameAmount','quantity');
        updateName('.nameRemarks','remarks');
    });
</script>