<!--endingnote_index.html-->

<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>始める前に</title>
    <meta name="keywords" content="content1"/>
    <meta name="description" content="content1"/>
</head>
<body>
<div layout:fragment="headerImage">
    <img alt="" src="./assets/images/header/header_endingnote.png" width="712"
         th:src="@{/images/header/header_endingnote.png}"/>
</div>
<div layout:fragment="main">
    <div id="container">
        <div id="endingnote_index">
            <div class="inner cf">
                <ul>
                    <li>
                        <a href="endingnote_about_property.html"><img height="476"
                                                                      src="./assets/images/button/button_about_me.jpg"
                                                                      width="554"
                                                                      th:src="@{/images/button/button_about_me.jpg}"/></a>
                    </li>
                    <li>
                        <a href="endingnote_about_property.html"><img height="476"
                                                                      src="./assets/images/button/button_grave.jpg"
                                                                      width="554"
                                                                      th:src="@{/images/button/button_grave.jpg}"/></a>
                    </li>
                    <li>
                        <a href="endingnote_about_property.html"><img height="476"
                                                                      src="./assets/images/button/button_member_service.jpg"
                                                                      width="554"
                                                                      th:src="@{/images/button/button_member_service.jpg}"/></a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="endingnote_about_property.html"><img height="476"
                                                                      src="./assets/images/button/button_about_property.jpg"
                                                                      width="554"
                                                                      th:src="@{/images/button/button_about_property.jpg}"/></a>
                    </li>
                    <li>
                        <a href="endingnote_about_property.html"><img height="476"
                                                                      src="./assets/images/button/button_testament.jpg"
                                                                      width="554"
                                                                      th:src="@{/images/button/button_testament.jpg}"/></a>
                    </li>
                    <li>
                        <a href="endingnote_about_property.html"><img height="476"
                                                                      src="./assets/images/button/button_others.jpg"
                                                                      width="554"
                                                                      th:src="@{/images/button/button_others.jpg}"/></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</div>
</body>
</html>