<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
  <head>

    <title>パスワード変更</title>
    <meta name="keywords" content="content1"/>
    <meta name="description" content="content1"/>
  </head>
  <body>
  <div layout:fragment="headerImage">
    <img alt="パスワード入力" src="./assets/images/header/header_password_input.png" width="712"
         th:src="@{/images/header/header_password_input.png}"/>
  </div>
  <div layout:fragment="main">
      <div id="password_change">
        <div class="inner">
          <div class="input_box">
            <h3>
              新しいパスワード
            </h3>
            <input id="original" placeholder="半角英数8文字以上" type="password" />
            <input id="secondary" placeholder="確認のため再入力して下さい" type="password" />
            <p class="pass_note">
              ※パスワードの頭文字が、大文字になっていたり末尾にスペースが入っていたりすることがございますので、ご注意ください。
            </p>
            <p id="err" class="error">
              パスワードとパスワード確認用が間違っています
            </p>
          </div>
          <a href="password_change_finish.html"><img height="147" src="assets/images/button/button_password_change.jpg" width="1064"
                                                     th:src="@{/images/button/button_password_change.jpg}"/></a><div id="bnr_paying_merit">
          <a th:href="@{'/others/merit'}"><img height="180" src="./assets/images/common/banner.png" width="1040" th:src="@{/images/common/banner.png}"/></a>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
<script type="text/javascript">
  $('#err').hide();
  $(document).on('change' , '#secondary' , function(){
      if($('#original').val() != $(this).val()) {
          $('#err').show();
      } else {
          $('#err').hide();
      }
  });
  $(document).on('change' , '#original' , function(){
      if($('#secondary').val() != ""){
        if($('#secondary').val() != $(this).val()) {
            $('#err').show();
        } else {
            $('#err').hide();
        }
      }
  });
</script>
