doctype html
html lang="ja"
	- $pageNo = 1;
	head
		== Slim::Template.new('./templates/_meta.slim').render(Object.new, :title => "資産について 13.クレジットカード", :description => "", :keywords => "f, o, o")
	body.drawer.drawer--left
		== Slim::Template.new('./templates/_header.slim').render
		#container
			#property_about_credit
				.page_label
					h2 資産について
				.about_credit
					h2 13.クレジットカード
					.input__container
						.input__box
							.title カードの名称
							input type="text"
						//カードの名称
						.input__box
							.title クレジットブランド
							input type="text"
						//クレジットブランド
						.input__box
							.title カード番号
							input type="text"
						//カード番号
						.input__box
							.title 紛失時の連絡先
							input type="text"
						//紛失時の連絡先
						.input__box
							.title ウェブ用ID
							input type="text"
						//ウェブ用ID
						.input__box
							.title 備考
							textarea
						//備考
						a.add_list href="#" リストを追加

					.button_box
						a href="#"
							img src="./assets/images/button/button_save.jpg" width="1040" height="147"

					== Slim::Template.new('./templates/_banner.slim').render

		== Slim::Template.new('./templates/_footer.slim').render
		== Slim::Template.new('./templates/_script.slim').render
