doctype html
html lang="ja"
	- $pageNo = 1;
	head
		== Slim::Template.new('./templates/_meta.slim').render(Object.new, :title => "財産について 2.宝物やコレクションについて エンディングノート", :description => "", :keywords => "f, o, o")
	body.drawer.drawer--left
		== Slim::Template.new('./templates/_header.slim').render
		#container
			#property_about_collection
				.page_label
					h2 財産について
				.about_collection
					h2 2.宝物やコレクションについて
					.input__container
						.input__box
							.title 種類名称
							input type="text"
						//種類名称
						.input__box
							.title 保管場所
							input type="text"
						//保管場所
						.input__box
							.title 自分の死後の処分の方法
							input type="text"
						//自分の死後の処分の方法
						.input__box
							.title 備考
							textarea
						//備考
						a.add_list href="#" リストを追加

					.button_box
						a href="#"
							img src="./assets/images/button/button_save.jpg" width="1040" height="147"

					== Slim::Template.new('./templates/_banner.slim').render

		== Slim::Template.new('./templates/_footer.slim').render
		== Slim::Template.new('./templates/_script.slim').render
