doctype html
html lang="ja"
	- $pageNo = 28;
	head
		== Slim::Template.new('./templates/_meta.slim').render(Object.new, :title => "Q&A", :description => "", :keywords => "f, o, o")
	body.drawer.drawer--left
		== Slim::Template.new('./templates/_header.slim').render
		#container
			#q_and_a
				.qa_box
					.question
						|
							死亡診断書が手元にないのですが情報の開示はできますか？（他の書類で代用できますか？）
					.answer
						|
							できます。行政書類（住民票除票等）や除籍謄本を<br />ご提示ください。
				.qa_box
					.question
						|
							情報の開示の請求はどこに行えばいいのですか？
					.answer
						|
							書類の画像をアプリにアップロードしてご請求ください。<br />リードライフ本部が確認いたします。
				.qa_box
					.question
						|
							共有者が全員情報開示の請求を行わないと情報は見られないのですか？（誰か一人が死亡診断書の提出を行えば全員に情報が開示されますか？）
					.answer
						|
							1名が書類提出した後、他の承認者が承認をすれば開示できます。
				.qa_box
					.question
						|
							共有者の情報はどこで見られますか？
					.answer
						|
							アプリ内で確認できるようになります。
				.qa_box
					.question
						|
							自動的に有料会員登録されることはありませんか？<br />（簡単な操作ミスで有料会員登録が行われることはないですか？）
					.answer
						|
							有料会員になるためには決済画面で決済を行わないとなれません。
				.qa_box
					.question
						|
							複数エンディングノートがつくれるということでしたが、アプリ内で何冊つくっても月の支払額は変わらないのですか？<br />（ノートの冊数に応じて支払額が増えますか？）
					.answer
						|
							1アカウントで980円(税込み)です。<br />2アカウントになれば980円×2＝1960円になります。
				.qa_box
					.question
						|
							厳重にセキュリティ管理されているとのことでしたがその根拠はなんですか？
					.answer
						|
							情報は「Microsoft社」のサーバーで厳重に管理されています。ただし情報が漏洩しないことを保障するものではありません。
				.qa_box
					.question
						|
							パスワードを忘れてしまいました。<br />どうすればいいですか？
					.answer
						|
							「パスワードを忘れてしまった方はこちら」というボタンをクリックし、登録したメールへご案内します。
				.qa_box
					.question
						|
							第三者がが本人に代わって記録することはできますか？

					.answer
						|
							指紋認証等によりユーザー様使用することを想定していますので、第三者が記録することはできません。<br />
							ユーザー様が依頼するなどして必要な情報を提供したときは、第三者も記録することができますが、ID、パスワード、入力情報はユーザーご本人が管理監督をしてください。
							当社は、ユーザー様が第三者に記録を依頼したことに関するトラブルについて、一切責任を負いません。
				.qa_box
					.question
						|
							パソコンや従来型の携帯電話（フィーチャーフォン）<br />で使用することはできますか？
					.answer
						|
							本アプリは、現時点では、スマートフォンのみにおいて、使用できます。
				.qa_box
					.question
						|
							どの項目から始めたらよいでしょうか？<br />すべての項目を埋めなければいけませんか？
					.answer
						|
							わかるところから埋めていきましょう。
				.qa_box
					.question
						|
							操作を途中で止めて保存したいときは<br />どうしたらよいでしょうか？
					.answer
						|
							「保存」や「決定」を押してください。
				.qa_box
					.question
						|
							情報を開示したい人の設定方法がわかりません。
					.answer
						|
							「アカウント設定･追加」から承認者を登録してください。その後承認アカウント一覧で確認できます。
					== Slim::Template.new('./templates/_banner.slim').render
					
		== Slim::Template.new('./templates/_footer.slim').render
		== Slim::Template.new('./templates/_script.slim').render
