@charset "utf-8";
$phone: "only screen and (max-width:640px)";
$tablet: "only screen and (min-width:641px) and (max-width:959px)";
$pc: "only screen and (min-width:960px)";
//breakpoint setting: example @media #{$hoge}{css propaty}

.cf:before,
	.cf:after {
	    content: " ";
	    display: table;
	}

	.cf:after {
	    clear: both;
	}

	.cf {
	    *zoom: 1;
	}
img{
	display: block;
	bottom: 0; 
}
#kessan2-1{
	background: #f2f2f2;
	.inner{
		width: 1135px;
		margin: 0 auto;
		padding-top: 155px;
		padding-bottom: 256px;
		box-sizing: border-box;
		.select_box{
			border: 1px solid #8a8f94;
			padding: 104px 0 104px 57px;
			box-sizing: border-box;
			label{
				input{
					width: 60px;
					height: 60px;
					margin: 22px 34px 0 0;
					float: left;
				}
				.cardtype{
					float: left;
					p:first-child{
						font-size: 40px; 
					}
					p:nth-child(2){
						font-size: 48px;
						font-weight: bold; 
					}
				}
				.visa{
					p:nth-child(2)::after{
						margin-left: 60px;
						content: url("../../assets/images/card_visa.jpg"); 
						display: inline-block;
    				vertical-align: middle;
					}
				}
				.oriko{
					p:nth-child(2)::after{
						margin-left: 60px;
						content: url("../../assets/images/card_oriko.jpg"); 
						display: inline-block;
    				vertical-align: middle;
					}
				}
			}//label
		}//select_box
		.wrapper_card{
			width: 1020px;
			margin: 0 auto;
			margin-bottom: 224px;
			.available{
				p{
					font-size: 45px;
					margin-top: 50px;
				}
				.icon{
					float: left;
					width: 503px;
					margin-top: 25px;
					ul{
						li{
							float: left;
						}
						li:not(:last-child){
							margin-right: 34px;
						}
					}
				}
				.button_card{
					float: right;
					margin-bottom: 19px;
				}
			}//available
		}//wrapper_card
		.button_buying{
			width: 1064px; 
			margin: 0 auto;				
		}
	}//inner
}//kessan2-1


#kessan3-3{
	background: #f2f2f2;
	.inner{
		width: 1183px;
		margin: 0 auto;
		padding-top: 80px;
		padding-bottom: 122px;
		box-sizing: border-box;
		.wrapper{
			margin-bottom: 72px;
			h3.title{
				padding: 4px 0 4px 85px;
				margin-bottom: 26px;
				font-size: 55px;
				line-height: 1.0em;
				font-weight: bold;
				background: url(../../assets/images/icon/icon_title_mark.png)
										no-repeat left center;
			}
			.title_label{
				background-color: #ff0000;
				padding: 30px 27px 30px 57px; 
				box-sizing: border-box;
				h3{
					float: left;
					padding: 25px 0;
					font-size: 50px; 
					line-height: 1.0em;
					font-weight: bold;
					color: #fff;
					box-sizing: border-box;
				}
				.button{
					float: right;
				}
			}
			.card_info{
				padding: 46px 60px 23px;
				border: 3px solid #000;
				background-color: #fff;
				box-sizing: border-box;
				.input_box{
					margin-bottom: 34px;
					h3{
						margin-bottom: 29px;
						font-size: 48px;
						line-height: 1.0em;
					}
					input[type=text]{
						width: 1054px;
						height: 140px;
						font-size: 72px;
						line-height: 50px;
						border: 3px solid #2f2f2f;
						border-radius: 10px;
						box-sizing: border-box;
					}
					p{
						font-size: 48px;
						line-height: 1.0em;
					}
					.num_list{
						li{
							float: left;
							p{
								margin: 46px 12px 0;
							}
						}
					}
					.date_list{
						li{
							float: left;
							p{
								margin: 52px 41px 0;
							}
						}
					}
				}//input_box
				.input_num{
					input[type=text]{
						width: 234px;
						height: 140px;
					}
				}//input_num
			}//card_info
		}//wrapper
		.btn_finish{
			width: 1064px;
			margin: 0 auto; 
			margin-bottom: 54px;
		}
		.top_back{
			text-align: center;
			a{
				font-size: 45px;
				font-weight: bold;
				color: #498af2;
				text-decoration: none;
			}
		}
	}//inner
}//#kessan3-3