@charset "utf-8";
$phone: "only screen and (max-width:640px)";
$tablet: "only screen and (min-width:641px) and (max-width:959px)";
$pc: "only screen and (min-width:960px)";
//breakpoint setting: example @media #{$hoge}{css propaty}

#password_input{
	background: #f2f2f2;
	.inner{
		width: 1100px;
		margin: 0 auto;
		margin-top: 75px;
		.summary{
			width: 975px;
			margin: 0 auto;
			padding: 0 35px;
			margin-bottom: 62px;
			box-sizing: border-box;
			p{
				font-size: 50px;
				line-height: 1.5;
				letter-spacing: 0.05em;
				font-weight: bold;
			}
		}//summary
		.candidate{
			padding-bottom: 500px;
			box-sizing: border-box;
			.title{
				background: #ff8431;
				font-size: 50px;
				line-height: 1.5;
				letter-spacing: 0.05em;
				color: #fff;
				font-weight: bold;
				padding: 22px 0 22px 90px;
				box-sizing: border-box;
			}//title
			.list{
				display: table;
				width: 100%;
				border: 7px solid #ff8431;
				border-top: none;
				padding: 20px 0 10px 0;
				box-sizing: border-box;
				background: #fff;
				a{
					display: block;
					text-decoration: none;
				}
				.icon,.content{
					display: table-cell;
					vertical-align: middle;
					span{
						font-weight: bold;
						display: block;
						&:first-child{
							font-size: 60px;
							line-height: 1.9;
							color: #ff8431;
						}//table title
						&:last-child{
							font-size: 45px;
							line-height: 2.6;
							color: #535353;
						}//table summary
					}
				}
				.icon{
					padding-right: 88px;
					padding-left: 93px;
					box-sizing: border-box;
				}
			}//dl
		}//.candidate_list
	}//inner
}//#fingerprint_authentication 指紋認証

#password_change{
	background: #f2f2f2;
	.inner{
		width: 1064px;
		margin: 0 auto;
		padding: 166px 0 960px;
		.input_box{
			width: 972px;
			margin:0 auto;
			margin-bottom: 224px;
			h3{
				margin-bottom: 58px;
				font-size: 72px;
				font-weight: bold;
				line-height: 50px;
				color: #ff8431;
			}
			input[type=password],{
				width: 972px;
				margin:0 auto;
				padding: 35px 0 35px 61px;
				font-size: 72px;
				line-height: 50px;
				border: 3px solid #2f2f2f;
				border-radius: 10px;
				box-sizing: border-box;
			&::-webkit-input-placeholder{
					letter-spacing: -0.1em;
					color: #dcdcdc;
					font-weight: bold;
				}	
			}
		}//input_box
	}//inner
}//#password_change パスワードの変更
