<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
  <head>
    <title>無料会員登録 アカウント入力画面</title>
    <meta name="keywords" content="content1"/>
    <meta name="description" content="content1"/>
  </head>
  <body>
  <div layout:fragment="headerImage">
    <img alt="アカウント入力画面" src="./assets/images/header/header_account_input.png" width="754"
         th:src="@{/images/header/header_account_input.png}"/>
  </div>

  <div layout:fragment="main">
      <div id="member_signup">
        <div class="inner">
          <div class="wrapper_input">
            <div class="input_box">
              <h3>
                ニックネーム
              </h3>
              <input placeholder="例) AYA" type="text" />
            </div>
            <div class="input_box">
              <h3>
                メールアドレス
              </h3>
              <input placeholder="pc・携帯どちらでも可" type="text" />
            </div>
            <p class="note">
              なりすましメールやドメイン指定受信などの設定によっては、当サイトからのメールが届かない場合があります。お手数をお掛けいたしますが、下記のメールアドレスを受信するよう設定をお願いいたします。
            </p>
            <div class="address_box">
              <p>
                lead-life.co.jp
              </p>
            </div>
            <div class="input_box">
              <h3>
                パスワード
              </h3>
              <input placeholder="半角英数８文字以上" type="password" />
            </div>
            <p class="pass_note">
              ※パスワードの頭文字が、大文字になっていたり末尾にスペースが入っていたりすることがございますので、ご注意ください。
            </p>
            <div class="input_box">
              <h3>
                紹介コード（お持ちの方のみ）
              </h3>
              <input type="text" />
            </div>
            <p class="note">
              パスワード入力か指紋認証か<span>どちらか</span>をお選びください。
            </p>
            <div class="checkbox">
              <input id="check01" type="checkbox" /><label for="check01">パスワード入力</label>
            </div>
            <div class="checkbox">
              <input id="check02" type="checkbox" /><label for="check02">指紋認証</label>
            </div>
            <div class="checkbox">
              <input id="check03" type="checkbox" /><label for="check03"><a href="#" id="open2">利用規約</a><span>に同意します</span></label>
            </div>
          </div>
          <div class="btn">
            <a href="#"><img height="147" src="assets/images/button/btn_signup.png" width="1040"
                             th:src="@{/images/button/btn_signup.png}"/></a>
          </div>
          <div id="bnr_paying_merit">
            <a th:href="@{'/others/merit'}"><img height="180" src="./assets/images/common/banner.png" width="1040"
                             th:src="@{/images/common/banner.png}"/></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
