<!--message_record_function.html-->

<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>始める前に</title>
    <meta name="keywords" content="content1"/>
    <meta name="description" content="content1"/>
</head>
<body>
<div layout:fragment="headerImage">
    <img alt="" src="./assets/images/header/header_message.png" width="712"
         th:src="@{/images/header/header_message.png}"/>
</div>
<div layout:fragment="main">
    <div id="container">
        <div id="message_record_function">
            <div class="inner">
                <a href="message_record_list.html"><img alt="メッセージの確認・編集へ" height="419"
                                                        src="assets/images/button/button_confirm_edit.jpg"
                                                        width="1138"
                                                        th:src="@{/images/button/button_confirm_edit.jpg}"/></a>
                <a href="message_record_edit.html"><img alt="メッセージの記録" height="419"
                                                        src="assets/images/button/button_record.jpg"
                                                        width="1138"
                                                        th:src="@{/images/button/button_record.jpg}"/></a>
            </div>
        </div>
    </div>

</div>
</body>
</html>